@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import "tailwindcss";


@layer base {
    html {
        font-family: "Roboto", sans-serif;
    }
    
    body {
        background-color: #f0f0f0;
        color: #333;
        overflow-x: hidden;
    }
}

@layer components {
    .input-box{
        @apply w-full text-sm bg-transparent border-[1.5px] px-5 py-3 rounded mb-4 outline-none;
    }

    .btn-primary {
        background-color: #2B85FF;
        @apply w-full text-sm text-white p-2 rounded my-1 hover:bg-blue-600;     
    }

    .icon-btn{
        @apply text-xl text-slate-300 cursor-pointer hover:text-blue-600;
    }

    .input-label{
        @apply text-xs text-slate-400;
    }
}

@layer utilities {
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    } 
}
